body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 30px 48px 28px;
}

.logo_1 {
  font-weight: 700;
  color: rgb(96, 112, 255);
}

h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

hr {
  width: 100%;
  background-color: #dfe1e6;
  border: none;
  height: 1px;
}

.main_btn {
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.main {
  width: 24px;
  height: 24px;
}

.title {
  width: 100%;
  line-height: 55px;
}

h1 {
  font-size: 40px;
  color: rgb(23, 43, 77);
  width: 400px;
}

.main > img {
  width: 100%;
}

a {
  text-decoration: none;
}

.heading {
  display: flex;
  flex-direction: column;
  background-image: url(./images/main-mobile.png);
  width: 375px;
  height: 660px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 90px;
  margin: 0 24px 12px 0;
  background-position: 0.5em -2em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.content {
  padding: 12px;
  margin: 12px;
}

.con {
  color: rgb(127, 140, 255);
  font-weight: 500;
}

ul {
  list-style-type: none;
  list-style-type: none;
  display: flex;
  gap: 23px;
  margin-left: -38px;
}

/* About Section */

.about-me {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 660px;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 90px;
  margin: 0 24px 12px 0;
  background-position: 0.5em -2em;
  background-size: 100%;
  background-repeat: no-repeat;
}

#btn-about {
  color: #396df2;
  padding: 10px 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #6070ff;
  border-color: #396df2;
  background-color: white;
  border-radius: 16px;
}

/* .lang {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 66.72px;
  margin: 4px 32px;
}

.lang ul {
  flex-direction: column;
}

.lang-item {
  margin: 8px;
  padding: 4px;
}

.lang-item > img {
  width: 48px;
  height: 48px;
}

.lang-text {
  align-items: center;
} */

/* .... */

#lang {
  width: 360px;
  margin-bottom: 150px;
  margin-right: 142px;
}

.lang-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lang-2 {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  width: 300px;
  justify-content: space-between;
  margin-bottom: 0px;
}

.lang-3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang-icons a {
  color: rgb(52, 69, 99);
}

.lang-list li a {
  color: rgb(37, 56, 88);
}

.lang-img {
  width: 48px;
  height: 48px;
}

.lang-icons {
  background-repeat: no-repeat;
  width: 288px;
  height: 66.72px;
  display: flex;
  gap: 16px;
  background-color: rgb(247, 247, 249);
  border-radius: 8px;
  align-items: center;
  padding-left: 12px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 10px;
}

.frame_work {
  display: flex;
  text-align: left;
  width: 300px;
  justify-content: space-between;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 0px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.735);
  padding-bottom: 23px;
  align-items: center;
}

.down {
  width: 8px;
}

.frame_works > img {
  width: 100%;
}
